<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Introducing the Women of T-Rex</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
  </head>
  <body background="images/cartographer.png">
<h1> Introducing the Women Role Models of T-Rex </h1>
<h2> Welcome to T-Rex - a tech startup hub located in Downtown St. Louis. Did you know that T-Rex is an incubator for over 150 companies, many started and run by women. As young girls interested in tech, we can look up to these women as amazing role models and teachers.  Which woman is the best fit for you? </h2>
<button type="button"> <a href="questions" >Let's Get Started!</a></button>



  </body>
</html>
