<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Introducing the Women of T-Rex</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
  </head>
  <body background="images/cartographer.png">
<h1> Introducing the Women Role Models of T-Rex </h1>
<h2>In today's society, the tech industry is mostly a male-dominated field. Startups ran by women are 2x more likely to succeed. Then how come these areas of interest only have a limited amount of women working in it? Welcome to T-Rex - a tech startup hub located in Downtown St. Louis. T-Rex is an incubator for over 110 companies, many started and ran by women. As young girls interested in tech, we can look up to these women as amazing role models and teachers. Which woman is the best fit for you?</h2>
<br>
<br>
<br>
<br>
<button type="button" id="start_button"> <a href="questions" >Let's Get Started!</a></button>
<div id="left"></div>
<div id="right"></div>
<div id="top"></div>
<div id="bottom"></div>

<footer id="footer">
  &copy; Koded with love by Caroline G, Sydney, Anna, & Nicole
</footer>

  </body>
</html>
