<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Introducing the Women of T-Rex</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
  </head>
  <body background="images/cartographer.png">
    <h1> Introducing the Women Role Models of T-Rex </h1>

    <form method="post" action="/result">
  <h2>What's your main interest?</h2>
  <div class = "q">
      <input type="radio" name="interest" value="koding"> Koding <br>
      <input type="radio" name="interest" value="entrepreneurship"> Entrepeneurship <br>
      <input type="radio" name="interest" value="both"> Both!
    </div>

  <h2>Do you know how to Kode?</h2>

  <input type="radio" name="know" value="yes"> Yes! <br>
  <input type="radio" name="know" value="no"> No... <br>
  <input type="radio" name="know" value="seemshard"> Somewhat <br>


<h2>Do you want to learn how to Kode?</h2>

<input type="radio" name="learn" value="yes"> Yes! <br>
<input type="radio" name="learn" value="no"> No... <br>
<input type="radio" name="learn" value="seemshard">I want to, but it seems really hard <br>


<h2>Would you like to start your own business? </h2>

<input type="radio" name="business" value="yes"> Yes! <br>
<input type="radio" name="business" value="no"> No... <br>
<input type="radio" name="business" value="seemshard">I want to, but it seems really hard <br>


<h2>Do you want to work in the tech industry</h2>

<input type="radio" name="tech" value="yes"> Yes! <br>
<input type="radio" name="tech" value="no"> No... <br>
<input type="radio" name="tech" value="seemshard">Maybe <br>


<h2>Do you consider yourself more of a leader or a follower? </h2>

<input type="radio" name="lead" value="yes"> Leader<br>
<input type="radio" name="lead" value="no"> Follower <br>
<input type="radio" name="lead" value="seemshard"> I can be both!<br>


<button id = "submit_button" type="button"> <input id = "submit" type="submit" ></button>
</form>


  </body>
</html>
